<template>
    <div>

        <section class="section section-components pb-0" id="section-components">
            <div class="container">

                <div>
                    <div class="row">

                        <div class="col-lg-8">
                            <h2>Create Document</h2>
                            <span>add whatever documents you like, make sure all information is filled in</span>

                                                       
                        </div>

                        <div class="col-lg-4 text-right">
                            <base-button @click="redirect('list')" outline size="sm" type="default">
                                Document List
                            </base-button>
                        </div>

                        <div class="col-lg-12">
                             <hr>

                        </div>

                    </div>
                    <div class="row">
                        <div class="col-md-8">
                            <span><b>DOCUMENT TITLE</b></span>
                            <small><br><br></small>
                            <base-input v-model="data.title" :valid="checkValidity(data.title)"></base-input>
                        </div>
                        <div class="col-md-4">
                            <span><b>DOCUMENT NUMBER</b></span>
                            <small><br><br></small>
                            <base-input v-model="data.number" :valid="checkValidity(data.number)"></base-input>
                        </div>

                    </div>
                    <br>
                    <div class="row">
                        <div class="col">

                            <span><b>AGREEMENT DATE</b></span>
                            <small><br><br></small>

                            <base-input :valid="checkValidity(data.date_agreement)" addon-left-icon="ni ni-calendar-grid-58">
                                <flat-picker slot-scope="{focus, blur}" @on-open="focus" @on-close="blur" :config="{allowInput: true}" class="form-control datepicker" v-model="data.date_agreement">
                                </flat-picker>
                            </base-input>

                        </div>

                        <div class="col">

                            <span><b>EFFECTIVE DATE</b></span>
                            <small><br><br></small>

                            <base-input :valid="checkValidity(data.date_effective)" addon-left-icon="ni ni-calendar-grid-58">
                                <flat-picker slot-scope="{focus, blur}" @on-open="focus" @on-close="blur" :config="{allowInput: true}" class="form-control datepicker" v-model="data.date_effective">
                                </flat-picker>
                            </base-input>

                        </div>

                        <div class="col">

                            <span><b>EXPIRATION DATE</b></span>
                            <small><br><br></small>

                            <base-input :valid="checkValidity(data.date_expired)" addon-left-icon="ni ni-calendar-grid-58">
                                <flat-picker slot-scope="{focus, blur}" @on-open="focus" @on-close="blur" :config="{allowInput: true}" class="form-control datepicker" v-model="data.date_expired">
                                </flat-picker>
                            </base-input>

                        </div>

                    </div>

                    <br>

                    <div class="row">

                        <div class="col-md-12">

                            <span class="secondary"><b>RELATED DEPARTMENT</b></span>
                            <small><br><br></small>

                            <base-input :valid="checkValidity(data.department)">

                                <div class="row">

                                    <div class="col-md-11">
                                        <v-select :push-tag="false" v-model="data.department" :searchable="true" :multiple="true" :options="options"></v-select>
                                    </div>

                                </div>

                            </base-input>

                        </div>

                        <div class="col-md-12">

                            <span class="secondary"><b>CATEGORIES</b></span>
                            <small><br><br></small>

                            <base-input :valid="checkValidity(data.categories)">

                                <div class="row">

                                    <div class="col-md-11">
                                        <v-select :push-tag="false" v-model="data.categories" :searchable="true" :multiple="true" :options="categories"></v-select>
                                    </div>

                                </div>

                            </base-input>

                        </div>

                    </div>

                    <div class="row">

                        <div class="col">

                            <span class="secondary"><b>RELATED PARTIES  </b></span>
                            <small><br><br></small>

                            <base-input :valid="checkValidity(data.parties)">

                                <div class="row">

                                    <div class="col-md-11">
                                        <v-select :push-tag="false" v-model="data.parties" :searchable="true" :multiple="true" :options="parties"></v-select>
                                    </div>

                                </div>

                            </base-input>
                            <base-button type="success" @click="showModal('add_parties')" size="sm">add new party</base-button>

                        </div>

                    </div>

                    <br>

                    <div class="row">

                        <div class="col">

                            <span><b>DOCUMENT DESCRIPTION</b></span>
                            <small><br><br></small>
                            <base-input :valid="checkValidity(data.description)">

                                <textarea class="form-control" rows="5" v-model="data.description"></textarea>

                            </base-input>

                        </div>

                    </div>

                    <div class="row">

                        <div class="col">

                            <span><b>UPLOAD FILES</b></span>
                            <small><br><br></small>

                            <vue-dropzone ref="dropzone" @vdropzone-queue-complete="vcomplete" @vdropzone-success="vsuccess" name="myFile" id="dropzone" :options="dropzoneOptions"></vue-dropzone>
                            <!-- <small>{{ this.files }}</small> -->
                            <br>
                            
                             <base-button v-for="(item,index) in files" size="sm" outline @click="deleteFile(index)" type="danger">{{item.originalname}} &mdash; {{humanFileSize(item.size)}}</base-button>

                             

                        </div>

                    </div>

                <div class="row">

                        <div class="col text-right">
                            <br>

                            <base-button :disabled="checkSubmit()"  @click="submit()" type="default">Submit</base-button>

                        </div>

                    </div>

                </div>

            </div>
        </section>

        <modal name="add_parties" :draggable="false" :adaptive='true' width='500px' height="auto">
            <div style="padding:30px" class="container">
                <div class="row">
                    <div class="col">

                        <span><b>NEW PARTY</b></span>
                        <small><br><br></small>
                        <base-input v-model="new_party" placeholder="Insert new party here ..."></base-input>
                        <div class="text-right">
                            <base-button size="sm" @click="addParties()" :disabled="!checkValidity(new_party)" type="default">submit</base-button>
                        </div>
                    </div>
                </div>
            </div>
        </modal>
    </div>
</template>
<script>


import BaseDropdown from "@/components/BaseDropdown";



import Vue from 'vue'
import axios from 'axios'
import vSelect from 'vue-select'
import "vue-select/dist/vue-select.css";

import qs from 'qs'

import flatPicker from "vue-flatpickr-component";
import "flatpickr/dist/flatpickr.css";

import VModal from 'vue-js-modal'

import Swal from 'sweetalert2'
import VueSweetalert2 from 'vue-sweetalert2';

import vue2Dropzone from 'vue2-dropzone'
import 'vue2-dropzone/dist/vue2Dropzone.min.css'
 
Vue.use(VModal)

Vue.component('v-select', vSelect)

export default {

    components: {

        BaseDropdown,
        flatPicker,
        vueDropzone: vue2Dropzone
    },

    data() {
        return {

            dropzoneOptions: {
                  url: backend + 'documents/upload',
                  thumbnailWidth: 150,
                  maxFilesize: 25,
                  headers: {

                        'x-access-token': localStorage.jwt
                  }
              },

            data: {},
            options: [{
                    label: "Legal & Complience",
                    value: "Legal & Complience",

                },
                {
                    label: "Business Development",
                    value: "Business Development"
                },
                {
                    label: "Marketing Communication",
                    value: "Marketing Communication"
                },
                {
                    label: "Human Resources",
                    value: "Human Resources"
                },
            ],

            parties: [{
                    label: "PT. Sinarmas Futures",
                    value: "PT. Sinarmas Futures",

                },
                {
                    label: "PT. Hutama Karya",
                    value: "PT. Hutama Karya"
                },

                {
                    label: "Stark Industries",
                    value: "Stark Industries"
                },

            ],

            categories: [{
                    label: "Perjanjian Fisik",
                    value: "Perjanjian Fisik",

                },
                {
                    label: "Perjanjian Non Fisik",
                    value: "Perjanjian Non Fisik"
                },

                

            ],

            new_party: "",
            files: [],
            status : 0

        }
    },

    created() {

    },

    methods: {

        redirect(path) {
          this.$router.push('/'+path)
        },

        deleteFile(index) {

            this.files.splice(index,1)

        },

        humanFileSize(size) {
            var i = Math.floor( Math.log(size) / Math.log(1024) );
            return ( size / Math.pow(1024, i) ).toFixed(2) * 1 + ' ' + ['B', 'kB', 'MB', 'GB', 'TB'][i];
        },

        vcomplete() {

            // console.log(this.files)
            this.$refs.dropzone.removeAllFiles()
            this.data.files = this.files

        },

        vsuccess(file, response) {

            this.files.push(response.data.documents[0])

        },


        selectToArray(select) {

            var res = []

            for (var i = 0; i < select.length; i++) {
                
                res.push(select[i].value)

            }

            return res

        },

        createDate(arr) {

            return arr.toString()

        },

        submit() {

            this.data.department_arr = this.selectToArray(this.data.department)
            this.data.parties_arr = this.selectToArray(this.data.parties)
            this.data.categories_arr = this.selectToArray(this.data.categories)

            this.data.important_dates = [{ name: "date_expired", date: this.data.date_expired },{ name: "date_effective", date: this.data.date_effective },{ name: "date_agreement", date: this.data.date_agreement }]

            var param = JSON.stringify(this.data)

            // console.log(param)

            axios({

                    method: 'POST',
                    url: backend + 'documents/create',
                    data: qs.stringify({ data:param }),
                    headers: {
                        'content-type': 'application/x-www-form-urlencoded;charset=utf-8',
                        'x-access-token': localStorage.jwt
                    }

                })
                .then(response => {

                    // console.log(response)

                    this.data = {}



                    if (response.data.status == "error") {

                        this.$swal({
                            toast: true,
                            position: 'center',
                            type: 'error',
                            title: response.data.message,
                            showConfirmButton: false,
                            timer: 2000
                        })

                    } else {

                        this.$swal({
                            toast: true,
                            position: 'center',
                            type: 'success',
                            title: response.data.message,
                            showConfirmButton: false,
                            timer: 2000
                        })

                        this.$router.push('/list')

                    }



                })
                .catch(error => {
                    console.log(error)
                })

        },

        showModal(name) {

            this.$modal.show(name)

        },

        closeModal(name) {

            this.$modal.hide(name)

        },

        addParties() {

            this.parties.push({
                label: this.new_party,
                value: this.new_party
            })

            this.new_party = ""

            this.closeModal('add_parties')

        },

        

        checkSubmit() {

            var title = this.checkValidity(this.data.title)
            var number = this.checkValidity(this.data.number)
            var date_agreement = this.checkValidity(this.data.date_agreement)
            var date_effective = this.checkValidity(this.data.date_effective)
            var date_expired = this.checkValidity(this.data.date_expired)
            var department = this.checkValidity(this.data.department)
            var categories = this.checkValidity(this.data.categories)
            var parties = this.checkValidity(this.data.parties)
            var description = this.checkValidity(this.data.description)
            var files = this.checkValidity(this.files)

            if(title & number & date_agreement & date_effective & date_expired & department & categories & parties & description & files) {

                return false

            } else {
                return true
            }

            
        },

        checkValidity(field) {
            // console.log(field)
            if (field != null) {
                if (field.length == 0) {

                    return false
                } else {
                    return true
                }
            } else {
                return false
            }
        },

    }


};

</script>
