<template>
    <div>

        <modal name="modal-detail" :draggable="false" :adaptive='true' width='1000px' height="auto" :scrollable="true">
            <div class="row" style="padding:15px;">
                <div class="col-md-12">
                    <div class="modal-header">
                        <h3 id="modal-title-default" class="modal-title">Detail Document</h3>
                    </div>
                    <div class="modal-body">
                       <div class="container">
                            <div class="row">
                                <div class="col-md-8">
                                    <span><b>DOCUMENT TITLE</b></span>
                                    <small><br><br></small>
                                    <span>{{ detail_data.title }}</span>
                                </div>
                                <div class="col-md-4">
                                    <span><b>DOCUMENT NUMBER</b></span>
                                    <small><br><br></small>
                                    <span>{{ detail_data.number }}</span>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-md-4">
                                    <span><b>AGREEMENT DATE</b></span>
                                    <small><br><br></small>
                                    <span>{{ convertDate(detail_data.agreement) }}</span>
                                </div>

                                <div class="col-md-4">
                                    <span><b>EFFECTIVE DATE</b></span>
                                    <small><br><br></small>
                                    <span>{{ convertDate(detail_data.effective) }}</span>
                                </div>

                                <div class="col-md-4">
                                    <span><b>EXPIRATION DATE </b></span>
                                    <small><br><br></small>
                                    <span>{{ convertDate(detail_data.expired) }} &mdash; <span class="text-muted">{{ detail_data.datediff }} Days Left</span></span>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-md-4">
                                    <span class="secondary"><b>RELATED DEPARTMENT</b></span>
                                    <small><br><br></small>
                                    <ul id="v-for-object" class="demo">
                                        <li v-for="row in detail_data.department">
                                            {{ row }}
                                        </li>
                                    </ul>
                                </div>

                                <div class="col-md-4">
                                    <span class="secondary"><b>CATEGORIES</b></span>
                                    <small><br><br></small>
                                    <ul id="v-for-object" class="demo">
                                        <li v-for="row in detail_data.categories">
                                            {{ row }}
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-md-4">
                                    <span class="secondary"><b>RELATED PARTIES  </b></span>
                                    <small><br><br></small>
                                    <ul id="v-for-object" class="demo">
                                        <li v-for="row in detail_data.parties">
                                            {{ row }}
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-md-12">
                                    <span><b>DOCUMENT DESCRIPTION</b></span>
                                    <small><br><br></small>
                                    <span>{{ detail_data.description }}</span>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-md-12">
                                    <span><b>LIST FILE</b></span>
                                    <small><br><br></small>
                                    <base-button v-for="(item,index) in detail_data.files" size="sm" outline @click="downloadFile(item.filename,item.originalname)" type="success">{{item.originalname}} &mdash; {{humanFileSize(item.size)}}</base-button>
                                </div>
                            </div>
                       </div>
                    </div>
                    <div class="modal-footer">
                        <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
                        <button type="button" class="btn btn-danger" @click="closeModalDetail">Close</button>
                    </div>
                </div>
            </div>
        </modal>

        <section class="section section-components pb-0" id="section-components">
            <div style="padding-left: 40px; padding-right: 40px" class="">

                <div class="container">
                    <div class="row">

                        <div class="col-lg-10">
                            <h2>Document List</h2>
                            <span>agreement document that has been added from the beginning of the formation of the universe</span>

                            
                        </div>

                        <div class="col-lg-2 text-right">
                            <base-button @click="redirect('create')" outline size="sm" type="default">
                                Create Document
                            </base-button>
                        </div>

                        <div class="col-lg-12">
                            <hr>
                            <br>
                        </div>

                    </div>

                    <div>
                        <div class="row">
                            <form role="form" @submit.prevent="searchKeyword()">

                                <div class="col pull-right">
                                    <base-input class="mb-3" addon-left-icon="fa fa-search" placeholder="search keyword ..." v-model="keyword">
                                        
                                    </base-input>
                                </div>
                                
                            </form>
                            
                            
                        </div>
                        <div class="row">
                            <div class="col">



                                <vuetable ref="vuetable" :api-mode="false" :data="data" :fields="fields" >

                                    <template slot="eff_date" slot-scope="props">

                                        {{convertDate(props.rowData.important_dates[1].date)}}

                                    </template>

                                    <template slot="exp_date" slot-scope="props">

                                        {{convertDate(props.rowData.important_dates[0].date)}} | {{props.rowData.datediff}}

                                    </template>

                                    <template slot="action" slot-scope="props">

                                        <base-button outline @click="showDetail(props.rowData)" type="info" size="sm">
                                            <i class="fa fa-eye"></i>
                                        </base-button>
                                        <base-button outline @click="deleteDocument(props.rowData)" type=danger size="sm">
                                            <i class="fa fa-trash"></i>
                                        </base-button>

                                    </template>

                                </vuetable>
                                
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-6">
                                
                                <small>showing page {{ this.prop.currentPage }} from {{ this.prop.pageCount }} <b> &mdash; {{ this.prop.itemCount }} items </b></small>
                                <br>
                                <small v-if="keyword !== ''" > &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &rarr; &nbsp;( keyword : {{ this.keyword }} )</small>
                            </div>
                            <div class="col-lg-6 text-right">
                                
                                    
                                <base-button v-if="prop.prev !== null" type="success" @click="fetchDocument(prop.prev)" size="sm">&larr;&nbsp;&nbsp;prev</base-button>
                                <base-button v-if="prop.next !== null" type="success" @click="fetchDocument(prop.next)" size="sm">next &nbsp;&nbsp;&rarr;</base-button>

                                
                            </div>
                        </div>
                    </div>

                    
                    

                </div>

            </div>
        </section>

       
    </div>
</template>
<script>


import BaseDropdown from "@/components/BaseDropdown";



import Vue from 'vue'
import axios from 'axios'
import vSelect from 'vue-select'
import "vue-select/dist/vue-select.css";

import qs from 'qs'

import flatPicker from "vue-flatpickr-component";
import "flatpickr/dist/flatpickr.css";

import VModal from 'vue-js-modal'

import Swal from 'sweetalert2'
import VueSweetalert2 from 'vue-sweetalert2';

import vue2Dropzone from 'vue2-dropzone'
import 'vue2-dropzone/dist/vue2Dropzone.min.css'

import "../assets/vendor/nucleo/css/nucleo.css";
import "../assets/vendor/font-awesome/css/font-awesome.css";
import "../assets/scss/argon.scss";

import Vuetable from 'vuetable-2'
 
Vue.use(VModal)

Vue.component('v-select', vSelect)

export default {

    components: {

        BaseDropdown,
        flatPicker,
        vueDropzone: vue2Dropzone,
        Vuetable
    },

    data() {
        return {
            fields: [{
                    name: 'title',
                    width: "40%",

                },
                {
                    name: 'number',
                    width: "10%",
                },

                {
                    name: '__slot:eff_date',
                    title: 'Effective Date ',
                    titleClass: 'text-center',
                    dataClass: 'text-center'
                },

                {
                    name: '__slot:exp_date',
                    title: 'Expired Date ',
                    titleClass: 'text-center',
                    dataClass: 'text-center'
                },

                {
                    name: '__slot:action',
                    title: 'Action ',
                    titleClass: 'text-center',
                    dataClass: 'text-center'
                }


            ],
            data: [],
            prop: {},
            param: {},
            detail_data: {},
            keyword: ""

        }
    },

    created() {

        this.fetchDocument(1)

    },

    methods: {

        downloadFile(filename,originalname){
            console.log(localStorage.jwt)
            // console.log(backend +'documents/download/'+filename)
            axios({
              url: backend + 'documents/download/' + filename,
              method: 'GET',
              headers: {
                    'content-type': 'application/x-www-form-urlencoded;charset=utf-8',
                    'x-access-token': localStorage.jwt
                },
              responseType: 'blob', // important

            }).then((response) => {
              const url = window.URL.createObjectURL(new Blob([response.data]));
              const link = document.createElement('a');
              link.href = url;
              link.setAttribute('download', originalname);
              document.body.appendChild(link);
              link.click();
            });
        },

        deleteDocument(data){
            this.$swal({
                title: 'Delete Document?',
                type: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes',
                cancelButtonText: 'No'
            }).then((result) => {
                axios({
                  url: backend+'documents/delete/' + data._id,
                  method: 'DELETE',
                  headers: {
                        'content-type': 'application/x-www-form-urlencoded;charset=utf-8',
                        'x-access-token': localStorage.jwt
                    },
                  

                }).then((response) => {
                    // console.log(response)

                    this.$swal({
                        toast: true,
                        position: 'center',
                        type: 'success',
                        title: 'Document Deleted',
                        showConfirmButton: false,
                        timer: 2000
                    })

                    this.fetchDocument(1)
                });
            })
            
        },

        redirect(path) {
          this.$router.push('/'+path)
        },

        humanFileSize(size) {
            var i = Math.floor( Math.log(size) / Math.log(1024) );
            return ( size / Math.pow(1024, i) ).toFixed(2) * 1 + ' ' + ['B', 'kB', 'MB', 'GB', 'TB'][i];
        },

        showDetail(data) {
            this.$modal.show('modal-detail');
            console.log(data)
            this.detail_data = data

        },

        closeModalDetail(){
             this.$modal.hide('modal-detail');
        },

        searchKeyword() {

            this.$swal({
                toast: true,
                position: 'center',
                type: 'success',
                title: 'Search Finished',
                showConfirmButton: false,
                timer: 2000
            })

            this.fetchDocument(1)

        },

        convertDate(str) {

            var date = new Date(str),
            mnth = ("0" + (date.getMonth() + 1)).slice(-2),
            day = ("0" + date.getDate()).slice(-2);
            var today = new Date()
            var diffrence = date - today
            var remdays = parseInt((diffrence) / (24 * 3600 * 1000))
            return [day, mnth, date.getFullYear()].join("-")
            
        },

        fetchDocument(page) {

            axios({
                    method: 'POST',
                    url: backend + 'documents/fetch/',
                    data: qs.stringify({
                        page: page,
                        keyword: this.keyword
                    }),
                    headers: {
                        'content-type': 'application/x-www-form-urlencoded;charset=utf-8',
                        'x-access-token': localStorage.jwt
                    }
                })
                .then(response => {

                    console.log(response.data.data.documents.itemsList)
                    this.data = response.data.data.documents.itemsList
                    this.prop = response.data.data.documents
                    // console.log(this.prop)
                    // this.$refs.vuetable.refresh()

                })
                .catch(error => {
                    console.log(error)
                })

        },

    }


};

</script>
