<template>
    <section class="section section-shaped section-lg my-0">
        
        <div class="container pt-lg-md">
            <div class="row justify-content-center">
                <div class="col-lg-5">
                    <card type="" shadow
                          header-classes="bg-white pb-5"
                          body-classes="px-lg-5 py-lg-5"
                          class="border-0">
                        
                        <template>
                            <div class=" text-muted mb-4">
                                <h1><b>Hola.</b></h1>
                                <small>please login using your account, if you need help, please contact us without any hestitation</small>
                                <hr>
                            </div>
                            <form role="form" @submit.prevent="login()" >
                                <base-input v-model="login_data.email"
                                            class="mb-3"
                                            placeholder="Email"
                                            addon-left-icon="ni ni-email-83">
                                </base-input>
                                <base-input v-model="login_data.password"
                                            type="password"
                                            placeholder="Password"
                                            addon-left-icon="ni ni-lock-circle-open">
                                </base-input>
                           
                                <div class="text-right">
                                    <base-button nativeType="submit"  class="my-4 btn-success">Sign In</base-button>
                                </div>
                                <!-- {{this.res}} -->
                            </form>
                        </template>
                    </card>
                  
                </div>
            </div>
        </div>
    </section>
</template>
<script>
import Vue from 'vue'
import axios from 'axios'

import Swal from 'sweetalert2'
import VueSweetalert2 from 'vue-sweetalert2';
import qs from 'qs'

Vue.use(VueSweetalert2)

export default {

    components: {

      
    },

    data() {
        return {
            login_data: {},
            res: ""
        }
    },

    created() {



    },

    methods: {

        login() {
            console.log(this.login_data)
            axios({

                    method: 'POST',
                    url: backend + 'users/authenticate',
                    data: qs.stringify({

                        email: this.login_data.email,
                        password: this.login_data.password,
                    }),
                    headers: {
                        'content-type': 'application/x-www-form-urlencoded;charset=utf-8'
                    }

                })
                .then(response => {

                    console.log(response)

                    if (response.data.status == "error") {

                        // this.res = 'not found'

                        this.$swal({
                            toast: true,
                            position: 'center',
                            type: 'error',
                            title: 'Invalid Email / Password',
                            showConfirmButton: false,
                            timer: 2000
                        })

                    } else {

                        this.$swal({
                            toast: true,
                            position: 'center',
                            type: 'success',
                            title: 'Login Successful',
                            showConfirmButton: false,
                            timer: 2000
                        })

                        this.res = response.data.data.token
                        localStorage.jwt = this.res

                        this.$router.push('/list')

                    }



                })
                .catch(error => {
                    console.log(error)
                })
        }

    }


};

</script>
<style>
</style>
